body{
    font-family: Montserrat, sans-serif;
    background-color: #b3b8cd;
}
.container{
    user-select: none;
    margin: 10% auto;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 5px;
    width: 30%;
    text-align: left;
    box-shadow: 0 25px 35px -5px rgba(0,0,0,.75);
}
button{
    margin: 10px 0 40px 0;
}
.msg-btn, .follow-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}
.follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #02899c;
}
.follow-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
}